p{
  color:white;
}

body{
  padding-bottom: 100px;;
}


.header{
 background-color: rgb(7, 93, 22);
 display:flex;
 flex-direction: row;
 align-items: top;
 padding-top:5px;
}

.name-logo{
  padding-left:5px;
  cursor:pointer;
}


 .logs{
  margin-left: 1200px;
  margin-right: 30px;
  padding: 0 ;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

a:active{
  color:rgb(0, 0, 0);
}


/*for the events:*/
.events-tab{
  max-width: 500px;
  background-color: rgba(86, 179, 234, 0.46);
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom:10px;
  padding: 10px 12px;
}

.events-div-name{
  color:black;
  font-family: Roboto , Arial;
}

.event{
  max-width: 300px;
  background-color: orange;
  padding:15px;
  border-radius: 20px;;
  margin-bottom: 10px;
  cursor:pointer;
}

.event-title{
  font-family: Roboto,Arial;
  font-size:medium;
  color:rgb(3, 35, 48);
  margin-bottom: 2px;
}

.uni-name{
  color:rgb(110, 110, 110);
  font-size: medium;
}

.flair{
  background-color: rgb(2, 7, 85);
  border-radius: 20px;
  color:rgb(255, 255, 255);
  width:100px; 
  padding: 5px 10px;

}


/*for admin page */

.admin-title{
  color:black;
}

.events-ann{
  color:black;
}


.links-container{
  display:flex;
  flex-direction: row;
}

.evnt-ann{
  background-color: rgb(115, 218, 226);
  max-width: 250px;
  margin-bottom: 30px;
  margin-left: 20px;
  color:white;
  border-radius: 20px;
  padding: 12px 10px;
  box-shadow: 8px 8px 30px grey;
  cursor:pointer;
  transition: box-shadow .2s;
} 
.evnt-ann:hover{
  margin-right: 40px;
  margin-left: 40px;
}



/* search box for colleges */
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
  cursor:pointer;
}

.card > .header-card {
  max-width: 300px;
}

.anchor-card{
  max-width: 200px;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}

.name-tag{
  font-size: 30px;
}

.name-comp{
  font-family: cursive;
}

.list-container{
  margin-top:10px;
  margin-left:15px;
  width: 600px;
}

.show-text{
  color:black;
}

.images-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top:40px;
}

.image{
  box-shadow: 1px 5px 10px;
  transition : padding .2s;
  overflow: hidden;
} .image:hover{
  padding: 10px 12px;
  box-shadow: 5px 8px 20px;
}

.clg-imgs{
  display:inline;
  margin: 10px 20px;
  width:200px; 
  
}

figcaption{
  margin-left: 15px;
  color:black;
}

.big-img{

}

.floormaps{
  max-width:500px;
  margin:10px 10px;
  box-shadow: 10px 10px;
  transition: padding 0.2s;
} .floormaps:hover{
  padding: 20px 25px;
  box-shadow:10px 10px 40px;
}

/* inside the website of the college*/

.floors{
  display:flex;
  flex-direction: row;
}

.no-space{
  margin-left: 20px;
  margin-right:20px;
}