{% extends "base.html" %}

{% block title %} Navig8 {% endblock %}

{% block link %}
    <link rel="icon" href="https://cdn.vectorstock.com/i/1000x1000/60/92/map-pointer-graduation-cap-icon-vector-21106092.webp" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}

{% block header %}
<header class="d-flex justify-content-between align-items-center p-3 bg-primary text-white shadow">
  <div class="d-flex align-items-center">
      <img src="https://cdn.vectorstock.com/i/1000x1000/60/92/map-pointer-graduation-cap-icon-vector-21106092.webp" alt="Navig8 Logo" class="me-2" width="40">
      <h5 class="mb-0">Aspire University</h5>
  </div>
  <div>
    <p>

      <a href="/"> Home </a>
    </p>
  </div>
</header>
{% endblock %}

{%block content%}
<div class="floors">

  <div>
    <img class="floormaps" src="{{aspire0_img}}"> 
  </div>
  
  <div>
    <img class="floormaps no-space" src="{{aspire1_img}}"> 
  </div>
  
  <div>
    <img class="floormaps" src="{{aspire2_img}}"> 
  </div>
</div>

<div>
  <img class="floormaps" src="{{aspirei_img}}"> 
</div>


<ul class="list-group list-group-flush">
  <li class="list-group-item"> Gymnasium</li>
  <li class="list-group-item">faculty area</li>
  <li class="list-group-item"> Dean Office</li>
  <li class="list-group-item">Admin Office</li>
  <li class="list-group-item">Sick Bed</li>
</ul>

<div>
<span style="font-weight: 500;"> About Aspire University </span>
<p style=" color:black; max-width:500px; ">
  Aspire University stands as a beacon of knowledge, innovation, and academic excellence. With a thoughtfully designed multi-floor campus, it seamlessly integrates modern infrastructure with a stimulating learning environment. From advanced laboratories to spacious classrooms and dedicated faculty spaces, every area is tailored to encourage collaboration and growth.
</p>
<p style="color:black; max-width:500px; ">
  The university offers key amenities such as seminar halls for insightful discussions, a well-equipped library for academic enrichment, and well-maintained washrooms across all floors. Additionally, the presence of a sick bay ensures student well-being, while administrative offices facilitate smooth institutional operations.
</p>
<em> " Aspire University is more than just a place of education—it is a vibrant community where students and faculty unite in the pursuit of excellence and limitless possibilities. "</em>
</div>

<br>
<hr>
Have something to say? Let us know :)
<br>
<input type="text" name="usr_review" placeholder="review">
<input type="submit" name="submit">




{%endblock%}
